.menu-bar {
    color: rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100vw;
    z-index: 500;
}

.menu-bar a {
    font-size: 18px;
    text-decoration: none;
    color: aliceblue;
    padding-right: 5px;
}

.list-group li {

    display: inline;
}

.socials {
    float: right !important;
    display: inline;
    text-align: right;
}

.socials a {
    padding-right: 0.7em;
}

.tabulated {
    display: inline;
    color: whitesmoke;
    cursor: pointer;
}


.tabulated a {
    padding-left: 5px;
    padding-right: 10px;
    text-decoration: underline;
}

.tabulated a:hover {
    text-decoration: underline;
    color: beige;
}

.br-tab {
    border-right: .10rem solid whitesmoke;
}

.tabulated a i {
    color: whitesmoke;
}

ul {
    display: inline-block;
    overflow: hidden;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}

@media (max-width: 480px) {
    .menu-bar a {
        font-size: 12px;
    }
    .tabulated a {
        padding-left: 0px;
        padding-right: 5px;
        text-decoration: underline;
    }
    .socials a {
        padding-right: 0em;
    }
}